<div class="bg-[#EFF8FF] md:h-[86vh] 3xl:max-h-[65vh] flex justify-center bg-no-repeat bg-center" style="background-image: url('https://demo.awaikenthemes.com/html-preview/dentaire/images/hero-bg.svg');">
  <div class="container px-[6rem] relative z-10 3xl:max-w-[1300px] 3xl:px-0">
    <!-- Hero Section avec image de fond animée -->
    <div class="container w-full flex mx-auto px-4 flex-col md:flex-row items-center justify-between h-full">

      <!-- Colonne de gauche -->
      <div class="md:w-1/2 mb-8 md:mb-0 pr-0 md:pr-12">
        <h1 class="text-6xl font-bold mb-6">
          <span class="mb-3 block text-access-dark">Réalisez vos</span>
          <span class="mb-3 block text-access-blue animate-pulse">Projets de</span>
          <span class="block text-access-dark">Cabinets Dentaire</span>
        </h1>
        <p class="text-access-dark font-light mb-8">
          Forte de 20 ans d'expérience et plus de 500 réalisations, notre équipe d'experts vous accompagne dans la création de votre cabinet dentaire. De la conception à la réalisation, nous gérons l'intégralité de votre projet pour vous permettre de vous concentrer sur l'essentiel : vos patients.
        </p>
        <a href="#contact" class="relative inline-flex items-center px-6 py-3 text-white bg-access-blue rounded-full overflow-hidden group shadow-md hover:shadow-lg">
          <span class="relative z-10 font-medium">Prendre RDV</span>
          <span class="relative z-10 ml-3 transition-transform transform duration-300 ease-out">
            <!-- Flèche orientée à 45 degrés vers le haut, entourée d'un cercle blanc -->
            <span class="flex items-center justify-center w-8 h-8 bg-white rounded-full">
              <i class="fa-solid fa-arrow-right flex items-center justify-center h-5 w-5 transform -rotate-45 group-hover:rotate-0 transition-transform duration-300 ease-out text-access-blue"></i>
            </span>
          </span>
          <span class="absolute rounded-full inset-0 bg-access-dark transition-all duration-500 ease-out transform -translate-x-full group-hover:translate-x-0"></span>
        </a>
      </div>
      <!-- Colonne de droite -->
      <%= image_tag "banner.jpeg", alt: "Cabinet dentaire moderne", class: "w-full h-full md:w-1/2 object-cover opacity-75 z-0" %>

    </div>

    <!-- Boutons de contact flottants -->
    <div class="absolute inset-x-0 flex justify-center -bottom-8 space-x-4">
      <% [
        { icon: 'fas fa-phone-alt', link: '#' },
        { icon: 'fas fa-envelope', link: '#' },
        { icon: 'fab fa-facebook-f', link: '#' },
        { icon: 'fab fa-instagram', link: '#' }
      ].each do |item| %>
        <%= link_to item[:link], class: 'group' do %>
          <div class="bg-white rounded-full w-16 h-16 flex items-center justify-center shadow-lg text-access-blue transition-all duration-300 ease-in-out transform group-hover:scale-110 group-hover:shadow-xl">
            <i class="<%= item[:icon] %> fa-xl"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%# ////////////////////////////////////////////////////////////////////////////////////////////// %>

<div class="bg-access-dark h-40 flex items-center justify-center py-5">
  <!-- Section "Need Dental Services?" -->
  <div class="flex container justify-between text-white px-[6rem]">
    <div class="flex w-1/2 justify-between">
      <div class="flex items-center space-x-3">
        <i class="fas fa-phone-alt text-access-blue text-2xl"></i>
        <div>
          <h3 class="text-white font-semibold">Un projet à réaliser ?</h3>
          <p class="text-access-light">Appelez au : 05 49 56 57 22</p>
        </div>
      </div>
      <!-- Separator -->
      <div class="border-l border-access-light h-10"></div>
      <!-- Section "Opening Hours" -->
      <div class="flex items-center space-x-3">
        <i class="fas fa-clock text-access-blue text-2xl"></i>
        <div>
          <h3 class="text-white font-semibold">Heures d'ouverture</h3>
          <p class="text-access-light">Du Lundi au Vendredi 8h - 17h</p>
        </div>
      </div>
    </div>
    <!-- "Make an Appointment" Button -->
    <a href="#contact" class="relative inline-flex items-center px-6 py-3 text-white bg-access-blue rounded-full overflow-hidden group shadow-md hover:shadow-lg hover:text-access-dark transition-all duration-500 ease-out">
      <span class="relative z-10 font-medium">Prendre RDV</span>
      <span class="relative z-10 ml-3 transition-transform transform duration-300 ease-out">
        <!-- Flèche orientée à 45 degrés vers le haut, entourée d'un cercle blanc -->
        <span class="flex items-center justify-center w-8 h-8 bg-white rounded-full group-hover:bg-access-dark transition-all duration-500 ease-out">
          <i class="fa-solid fa-arrow-right flex items-center justify-center h-5 w-5 transform -rotate-45 group-hover:rotate-0 transition-transform duration-300 ease-out text-access-blue"></i>
        </span>
      </span>
      <span class="absolute rounded-full inset-0 bg-white transition-all duration-500 ease-out transform -translate-x-full group-hover:translate-x-0"></span>
    </a>
  </div>
</div>

<%# ////////////////////////////SECTION ABOUT US//////////////////////////////////// %>

<div id="about-us" class="relative w-full flex bg-cover bg-no-repeat justify-center" style="background-image: url(<%= image_path('our-service-bg.svg')%>)">
  <div class="container px-[6rem] py-24">
    <div class="flex items-center">

      <!-- Colonne gauche avec les images superposées -->
      <div class="left-content w-[50%] pl-8 pt-24">
        <div class="relative">
          <%= image_tag "carte_V3.png", class: "w-[65%] border shadow-lg rounded-[2rem] object-cover 3xl:max-w-[416px]" %>
          <div class="absolute top-16 right-32 w-32 h-32 3xl:right-64">
            <div class="animate-[spin_20s_linear_infinite]">
              <svg viewBox="0 0 100 100" class="w-full h-full">
                <defs>
                  <path
                    id="circlePath"
                    d="M 50,50 m -37,0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0"
                    fill="none"
                  />
                </defs>
                <circle
                  cx="50"
                  cy="50"
                  r="42"
                  fill="none"
                  stroke="#1E84B5"
                  stroke-width="14"
                />
                <text>
                  <textPath href="#circlePath" startOffset="0%">
                    <tspan fill="white" class="text-xs font-semibold tracking-[0.16rem]">
                      +20 ANNEES D'EXPERIENCE
                    </tspan>
                  </textPath>
                </text>
              </svg>
            </div>
          </div>
        </div>

        <%= image_tag "expo.png", class: "w-[60%] object-cover rounded-[2rem] translate-x-40 -translate-y-12 border-white border-8" %>
      </div>

      <!-- Colonne droite avec texte -->
      <div class="w-[50%] lg:pl-12">
        <div class="flex items-center gap-2 mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" class="w-3 h-3">
            <path d="M12 5.98442C7.01299 6.54546 6.57662 7.01299 6.01558 12C5.45455 7.01299 4.98701 6.54546 0 5.98442C4.98701 5.42338 5.45455 4.98701 6.01558 0C6.57662 4.98701 7.01299 5.42338 12 5.98442Z" fill="#1E84B5"/>
          </svg>
          <span class="text-access-blue font-semibold text-sm tracking-[0.2rem] uppercase">A Propos de nous</span>
        </div>
        <h1 class="text-5xl font-bold text-access-dark mb-6 leading-tight">
          <span class="text-access-blue">Notre Experience</span> et Nos Engagements
        </h1>
        <p class="text-access-dark font-light mb-8">
          Depuis plus de 20 ans, Access Dental accompagne les dentistes et chirurgiens-dentistes dans la conception de leurs cabinets. Nous sommes présents sur les départements de la Vienne, des Deux-Sèvres, de la Charente, de la Charente-Maritime, de la Vendée, du Limousin, de la Dordogne et de l’Indre, avec une antenne à Poitiers et une autre à Angoulême. <br /><br />

          Afin de correspondre au maximum avec vos besoins, nous avons sélectionné un panel de marques et de produits répondant à nos nombreux critères d’exigence pour une gestion sereine du cabinet dentaire. Nous assurons également un suivi poussé de vos projets en nous engageant à répondre et à intervenir rapidement.
        </p>

        <!-- Liste des caractéristiques -->
        <div class="grid grid-cols-2 gap-6 mb-8">
          <div class="flex items-center gap-2">
            <svg class="w-6 h-6 text-access-blue" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
            </svg>
            <span class="font-semibold text-access-dark">Equipe expérimentée</span>
          </div>
          <div class="flex items-center gap-2">
            <svg class="w-6 h-6 text-access-blue" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
            </svg>
            <span class="font-semibold text-access-dark">Service compréhensif</span>
          </div>
          <div class="flex items-center gap-2">
            <svg class="w-6 h-6 text-access-blue" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
            </svg>
            <span class="font-semibold text-access-dark">Vision artistique</span>
          </div>
          <div class="flex items-center gap-2">
            <svg class="w-6 h-6 text-access-blue" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
            </svg>
            <span class="font-semibold text-access-dark">SAV à votre écoute</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# ////////////////////////////////SECTION NEWS /////////////////////////////////// %>

<div id="news" class="py-28 bg-[#EFF8FF] bg-cover bg-no-repeat" style="background-image: url(<%= image_path('our-blog-bg.svg')%>)">
  <div class="text-center mb-12">
    <p class="text-access-blue font-normal text-sm tracking-[0.2rem] mb-2 flex justify-center items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 12 12"
        class="w-3 h-3"
      >
        <path
          d="M12 5.98442C7.01299 6.54546 6.57662 7.01299 6.01558 12C5.45455 7.01299 4.98701 6.54546 0 5.98442C4.98701 5.42338 5.45455 4.98701 6.01558 0C6.57662 4.98701 7.01299 5.42338 12 5.98442Z"
          fill="#1E84B5"
        />
      </svg>
      NEWS
    </p>
    <h2 class="text-5xl font-bold text-access-blue mb-4">Consultez nos <span class="text-access-dark">Dernières News</span></h2>
    <p class="text-access-dark font-light">Cliquez ici pour souscrire à notre Newsletter.</p>
  </div>
  <div class="container mx-auto px-[6rem] flex md:flex-row gap-8">
    <% @articles.each do |article| %>
      <%= render "article_card", article: article %>
    <% end %>
  </div>
</div>

<%# ////////////////////////////////SECTION OFFERS//////////////////////////////////// %>

<div id="offres" class="pt-28 pb-[6.5rem] bg-right-bottom" style="background-image: url(<%= image_path('our-service-bg.svg')%>)">
  <div class="text-center mb-12">
    <p class="text-access-blue font-normal text-sm tracking-[0.2rem] mb-2 flex justify-center items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 12 12"
        class="w-3 h-3"
      >
        <path
          d="M12 5.98442C7.01299 6.54546 6.57662 7.01299 6.01558 12C5.45455 7.01299 4.98701 6.54546 0 5.98442C4.98701 5.42338 5.45455 4.98701 6.01558 0C6.57662 4.98701 7.01299 5.42338 12 5.98442Z"
          fill="#1E84B5"
        />
      </svg>
      OFFRES
    </p>
    <h2 class="text-5xl font-bold text-access-blue mb-4">Consultez nos <span class="text-access-dark">Dernières Offres</span></h2>
    <p class="text-access-dark font-light">Découvrez les dernières offres de nos partenaires.</p>
  </div>
  <div class="flex justify-center items-center">
    <%= link_to 'Créer une offre', new_offer_path(@offer), class: "inline-block px-4 py-3 text-white bg-access-dark hover:bg-[#2A4E9E] font-medium rounded-full text-sm" %>
  </div>
  <div class="container justify-center mx-auto pt-[6rem] px-[6rem] flex gap-4">
    <% @offers.each_with_index do |offer, index| %>
      <div class="flex flex-col h-72 relative group">
        <div class="<%= index.even? ? 'mb-auto' : 'mt-auto' %>">
          <%= link_to offer.pdf_url, target: "_blank" do %>
            <%= image_tag offer.image_url, class: "max-h-48 w-full rounded-[2rem] shadow-lg transform transition duration-500 hover:scale-110 object-cover" %>
          <% end %>
        </div>

        <!-- Boutons Edit et Destroy -->
        <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <!-- Bouton Edit -->
          <%= link_to edit_offer_path(offer), class: "bg-access-blue text-white p-2 rounded-full mx-3 hover:bg-access-dark", title: "Edit" do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <!-- Bouton Destroy -->
          <%= link_to offer_path(offer), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette offre ?" }, class: "bg-red-500 text-white p-2 rounded-full mx-3 hover:bg-red-600", title: "Delete" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<%# ////////////////////////////////SECTION BRANDS ///////////////////////////////////// %>

<div class="bg-[#EFF8FF] h-48 flex items-center justify-center px-[10rem] py-5">
  <!-- Section "Need Dental Services?" -->
  <div class="flex container w-1/2 justify-between text-white">
    <h3 class="text-access-dark text-2xl text-center font-semibold px-[2rem]">Des marques de confiance, <br>partenaires de notre réussite</h3>
  </div>
  <!-- Slider -->
  <div data-hs-carousel='{
    "loadingClasses": "opacity-0",
    "dotsItemClasses": "hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 rounded-full cursor-pointer",
    "isAutoPlay": true,
    "speed": 1500,
    "slidesQty": {
      "xs": 1,
      "lg": 3
    }
  }' class="relative w-full">
    <div class="hs-carousel w-full overflow-hidden rounded-lg">
      <div class="relative h-32 -mx-1">
        <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap opacity-0 transition-transform duration-700">
          <% @brands_images_url.each do |image_url| %>
          <div class="hs-carousel-slide px-1">
            <!-- Conteneur du logo -->
            <div class="bg-[#EFF8FF] flex justify-center items-center h-full">
              <!-- Image avec légère échelle -->
              <%= image_tag image_url, class: "h-full max-h-full w-auto object-contain mix-blend-multiply transform scale-125" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- End Slider -->
</div>

<%# //////////////////////////////SECTION NOS SERVICES//////////////////////////////////// %>

<div class="py-28 bg-right-bottom" style="background-image: url(<%= image_path('our-service-bg.svg')%>)">
  <div class="px-6 py-10 sm:px-8 lg:px-12">
    <div class="max-w-7xl mx-auto">
      <div class="text-access-blue font-normal text-sm tracking-[0.2rem] mb-2 flex justify-center items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 12 12"
          class="w-3 h-3"
        >
          <path
            d="M12 5.98442C7.01299 6.54546 6.57662 7.01299 6.01558 12C5.45455 7.01299 4.98701 6.54546 0 5.98442C4.98701 5.42338 5.45455 4.98701 6.01558 0C6.57662 4.98701 7.01299 5.42338 12 5.98442Z"
            fill="#1E84B5"
          />
        </svg>
        NOS SERVICES
      </div>
      <h1 class="text-center text-5xl font-bold text-access-blue mb-4">
        Une Prestation <span class="text-access-dark">Haute Qualité</span>
      </h1>
      <p class="flex font-light justify-center text-access-dark mt-4">
        Découvrez l'ensemble de nos compétences
      </p>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-8 py-4">

        <div class="relative bg-[#EFF8FF] rounded-[2rem] shadow-lg p-6 group overflow-hidden">
          <!-- Contenu principal -->
          <span class="relative z-10 transition-transform duration-300 ease-out group-hover:scale-95 group-hover:text-white">
            <%= image_tag "rouage.png", class: "w-12" %>
            <h3 class="font-semibold text-xl pt-4 transition-colors duration-300">Étude de Projet</h3>
            <p class="mt-4 pb-4 transition-colors duration-300 font-light">
              En lien direct avec les cabinets d'architectes, nous réalisons les plans d'implantation et participons aux réunions de chantier afin de trouver la solution adaptée à vos besoins.
            </p>
          </span>

          <!-- Arrière-plan interactif -->
          <span class="absolute inset-0 bg-access-dark transform translate-y-full group-hover:translate-y-0 transition-transform duration-500 ease-out"></span>
        </div>

        <div class="relative bg-[#EFF8FF] rounded-[2rem] shadow-lg p-6 group overflow-hidden">
          <!-- Contenu principal -->
          <span class="relative z-10 transition-transform duration-300 ease-out group-hover:scale-95 group-hover:text-white">
            <%= image_tag "solution.png", class: "w-12" %>
            <h3 class="font-semibold text-xl pt-4 transition-colors duration-300">Solution</h3>
            <p class="mt-4 pb-4 font-light transition-colors duration-300">
              Nous proposons un large choix de matériels, sélectionnés avec soin pour vous assurer une solution qualitative à long terme. Pour le reste, c'est à vous de jouer !
            </p>
          </span>

          <!-- Arrière-plan interactif -->
          <span class="absolute inset-0 bg-access-dark transform translate-y-full group-hover:translate-y-0 transition-transform duration-500 ease-out"></span>
        </div>

        <div class="relative bg-[#EFF8FF] rounded-[2rem] shadow-lg p-6 group overflow-hidden">
          <!-- Contenu principal -->
          <span class="relative z-10 transition-transform duration-300 ease-out group-hover:scale-95 group-hover:text-white">
            <%= image_tag "install.png", class: "w-12" %>
            <h3 class="font-semibold text-xl pt-4 transition-colors duration-300">Installation</h3>
            <p class="mt-4 pb-4 font-light transition-colors duration-300">
              Après installation, nous nous engageons à vous former, vous et vos assistantes, sur l'utilisation et l'entretien de vos nouveaux matériels.
            </p>
          </span>

          <!-- Arrière-plan interactif -->
          <span class="absolute inset-0 bg-access-dark transform translate-y-full group-hover:translate-y-0 transition-transform duration-500 ease-out"></span>
        </div>

        <div class="relative bg-[#EFF8FF] rounded-[2rem] shadow-lg p-6 group overflow-hidden">
          <!-- Contenu principal -->
          <span class="relative z-10 transition-transform duration-300 ease-out group-hover:scale-95 group-hover:text-white">
            <%= image_tag "SAV.png", class: "w-12" %>
            <h3 class="font-semibold text-xl pt-4 transition-colors duration-300">SAV</h3>
            <p class="mt-4 pb-4 font-light transition-colors duration-300">
              Afin de préserver votre sérénité au sein du cabinet, nous assurons une prise en charge rapide de vos demandes d'intervention.
            </p>
          </span>

          <!-- Arrière-plan interactif -->
          <span class="absolute inset-0 bg-access-dark transform translate-y-full group-hover:translate-y-0 transition-transform duration-500 ease-out"></span>
        </div>
      </div>

      <div class="text-access-dark mt-8 text-center font-light px-[22rem]">
        Nous utilisons les dernières technologies et techniques de conception pour garantir des solutions optimales à nos partenaires dentistes.
      </div>
      <div class="flex justify-center mt-6">
        <%= link_to "Faites nous confiance", "#", class: "bg-access-blue text-white font-medium px-6 py-3 rounded-full hover:bg-access-dark transition-colors" %>
      </div>
    </div>
  </div>
</div>

<%# ///////////////////////////////SECTION CONTACT////////////////////////////////////// %>
<meta name="mapbox-api-key" content="<%= @mapbox_api_key %>">
<div id="contact" class="bg-[#EFF8FF]">
  <div class="grid grid-cols-2 gap-12 py-[7rem] px-[12rem]">
    <div style="width: 100%; height: 650px; border-radius: 2rem;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="flex flex-col justify-center">
      <div class="flex items-center gap-2 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" class="w-3 h-3">
          <path d="M12 5.98442C7.01299 6.54546 6.57662 7.01299 6.01558 12C5.45455 7.01299 4.98701 6.54546 0 5.98442C4.98701 5.42338 5.45455 4.98701 6.01558 0C6.57662 4.98701 7.01299 5.42338 12 5.98442Z" fill="#1E84B5"/>
        </svg>
        <span class="text-access-blue font-semibold text-sm tracking-[0.2rem] uppercase">Contactez nous</span>
      </div>
      <h1 class="text-5xl font-bold text-access-blue mb-4 leading-tight">
        Obtenez votre <span class="text-access-dark">Devis Gratuit</span>
      </h1>
      <div>
        <%= simple_form_for :contacts, url: contacts_path, method: :post, html: { class: "space-y-4" } do |f| %>
          <%= f.hidden_field :source, value: 'home' %>
          <div class="flex grid grid-cols-2 gap-4">
          <%= f.input :name, label: "Nom", required: true, input_html: { class: "rounded-md" } %>
          <%= f.input :email, label: "Email", as: :email, required: true, input_html: { class: "rounded-md" } %>
          </div>
          <div class="flex grid grid-cols-2 gap-4">
          <%= f.input :phone_number, label: "Téléphone", input_html: { type: "tel", class: "rounded-md" } %>
          <%= f.input :mail_subject, label: "Objet du mail", input_html: { class: "rounded-md" } %>
          </div>
          <%= f.input :message, label: "Message", as: :text, required: true, input_html: { rows: 5, class: "rounded-md" } %>
          <%= f.button :submit, "Envoyer", class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="bg-access-dark text-white h-48 flex items-center justify-center px-[10rem] py-5">
  <p>Copyright © 2024 Access Dental : Équipement dentaire à Poitiers (86, Vienne, Poitou-Charentes, Nouvelle-Aquitaine)</p>
</div>
