<div data-controller="animate-title scroll-reveal swiper">
  <%= render "sections/landing" %>
  <%= render "banners/contact" %>
  <%= render "sections/about_us" %>
  <%= render "sections/news" %>
  <%= render "sections/offers" %>
  <%= render "banners/brand" %>
  <%= render "sections/service" %>
  <%= render "sections/team" %>
  <%= render "sections/contact_us" %>
</div>
