<section class="bg-access-light-blue bg-no-repeat bg-center bg-[url('https://demo.awaikenthemes.com/html-preview/dentaire/images/hero-bg.svg')]">
  <div class="columns-2 px-5 mx-auto pt-12 flex flex-col items-center lg:container lg:pt-0 lg:flex-row 2xl:px-32 3xl:px-64">
      <!-- Colonne de gauche -->
      <div class="w-full mb-8 md:pr-12">
        <h1 class="text-4xl lg:text-[54px] lg:leading-[4rem] font-bold text-access-dark">
          Réalisez vos
          <span class="lg:block text-access-blue animate-pulse">Projets de</span>
          Cabinets&nbsp;Dentaire
        </h1>
        <p class="text-access-dark font-light my-8">Forte de 20 ans d'expérience et plus de 500 réalisations, notre équipe d'experts vous accompagne dans la création de votre cabinet dentaire. De la conception à la réalisation, nous gérons l'intégralité de votre projet pour vous permettre de vous concentrer sur l'essentiel : vos patients.</p>
        <%= render "components/fill_up_btn", path: root_path(anchor: "contact"), text: "Prendre RDV" %>
      </div>
      <!-- Colonne de droite -->
      <%= image_tag "banner.png", alt: "Cabinet dentaire moderne", class: "hidden lg:block w-1/2 lg:max-h-[86vh] lg:w-full object-cover opacity-75" %>
  </div>
</section>

<%# ////////////////////////////////////////////////////////////////////////////////////////////// %>

  <!-- Section "Need Dental Services?" -->
<section class="relative bg-access-dark py-8 md:py-12">
    <!-- Boutons de contact flottants -->
  <div class="absolute inset-x-0 flex justify-center -top-6 md:-top-8 space-x-4">
    <% [
      { icon: 'fas fa-phone-alt', link: '#' },
      { icon: 'fas fa-envelope', link: '#' },
      { icon: 'fab fa-facebook-f', link: '#' },
      { icon: 'fab fa-instagram', link: '#' }
    ].each do |item| %>
      <%= link_to item[:link], class: 'group' do %>
        <div class="bg-white rounded-full w-12 h-12 md:w-16 md:h-16 flex items-center justify-center shadow-lg text-access-blue transition-all duration-300 ease-in-out transform group-hover:scale-110 group-hover:shadow-xl">
          <i class="<%= item[:icon] %> fa-lg"></i>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="lg:flex xl:container mx-auto px-4 3xl:px-64 justify-between text-white">
    <div class="md:flex gap-5 w-full lg:w-auto mb-10 lg:mb-0">
      <div class="mb-5 md:mb-0 md:w-1/2 lg:w-auto flex items-center md:border-r border-1 border-[#FFFFFF1F]">
        <i class="fas fa-phone-alt text-access-blue text-3xl"></i>
        <div class="mx-5">
          <h3 class="font-semibold mb-3 text-xl">Un projet à réaliser ?</h3>
          <p class="text-access-light">Appelez au : 05 49 56 57 22</p>
        </div>
      </div>

      <!-- Section "Opening Hours" -->
      <div class="flex items-center">
        <i class="fas fa-clock text-access-blue text-3xl"></i>
        <div class="mx-5">
          <h3 class="text-xl font-semibold mb-3">Heures d'ouverture</h3>
          <p class="text-access-light">Du Lundi au Vendredi 8h - 17h</p>
        </div>
      </div>
    </div>
    <!-- "Make an Appointment" Button -->
    <div class="text-center">
      <%= link_to "#contact", class: "relative inline-flex items-center px-6 py-3 text-white bg-access-blue rounded-full overflow-hidden group shadow-md hover:shadow-lg hover:text-access-dark transition-all duration-500 ease-out" do %>
        <span class="relative z-10 font-medium">Prendre un rendez-vous</span>
        <span class="relative z-10 ml-3 transition-transform transform duration-300 ease-out">
          <!-- Flèche orientée à 45 degrés vers le haut, entourée d'un cercle blanc -->
          <span class="flex items-center justify-center w-8 h-8 bg-white rounded-full group-hover:bg-access-dark transition-all duration-500 ease-out">
            <i class="fa-solid fa-arrow-right flex items-center justify-center h-5 w-5 transform -rotate-45 group-hover:rotate-0 transition-transform duration-300 ease-out text-access-blue"></i>
          </span>
        </span>
        <span class="absolute rounded-full inset-0 bg-white transition-all duration-500 ease-out transform -translate-x-full group-hover:translate-x-0"></span>
      <% end %>
    </div>

  </div>
</section>

<%# ////////////////////////////SECTION ABOUT US//////////////////////////////////// %>

<section id="about-us" class="relative w-full bg-cover bg-no-repeat lg:px-12 2xl:px-48 3xl:px-64" style="background-image: url(<%= image_path('our-service-bg.svg')%>)">
  <div class="xl:container lg:py-24">
    <div class="lg:flex items-center">

      <!-- Colonne gauche avec les images superposées -->
      <div class="left-content lg:w-[50%] px-4 pt-8 md:px-[6rem] lg:px-0 md:pt-12 lg:pt-12">
        <div class="relative">
          <%= image_tag "carte_V3.png", class: "w-[65%] border shadow-lg rounded-[2rem] object-cover lg:min-w-[416px]" %>
          <div class="absolute top-16 right-24 w-32 h-32 sm:right-40 lg:right-12 xl:right-40 3xl:right-64">
            <div class="animate-[spin_20s_linear_infinite]">
              <svg viewBox="0 0 100 100" class="w-full h-full">
                <defs>
                  <path id="circlePath" d="M 50,50 m -37,0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0" fill="none"/>
                </defs>
                <circle cx="50" cy="50" r="42" fill="none" stroke="#1E84B5" stroke-width="14" />
                <text>
                  <textPath href="#circlePath" startOffset="0%">
                    <tspan fill="white" class="text-xs font-semibold tracking-[0.16rem]">
                      +20 ANNEES D'EXPERIENCE
                    </tspan>
                  </textPath>
                </text>
              </svg>
            </div>
          </div>
        </div>

        <%= image_tag "expo.png", class: "w-[60%] object-cover rounded-[2rem] translate-x-40 sm:translate-x-40 md:translate-x-40 -translate-y-12 border-white border-8 lg:min-w-[316px]" %>
      </div>

      <!-- Colonne droite avec texte -->
      <div class="w-full px-5 lg:px-0 lg:w-[50%] lg:pl-12">
        <div class="flex items-center gap-2 mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" class="w-3 h-3">
            <path d="M12 5.98442C7.01299 6.54546 6.57662 7.01299 6.01558 12C5.45455 7.01299 4.98701 6.54546 0 5.98442C4.98701 5.42338 5.45455 4.98701 6.01558 0C6.57662 4.98701 7.01299 5.42338 12 5.98442Z" fill="#1E84B5"/>
          </svg>
          <span class="text-access-blue font-normal text-sm tracking-[0.2rem] uppercase">A Propos de nous</span>
        </div>
        <h1 class="text-4xl lg:text-[54px] lg:leading-[4rem] font-bold text-access-dark">
          <span class="text-access-blue">Notre Experience</span> et Nos Engagements
        </h1>
        <p class="text-access-dark font-light my-8">
          Depuis plus de 20 ans, Access Dental accompagne les dentistes et chirurgiens-dentistes dans la conception de leurs cabinets. Nous sommes présents sur les départements de la Vienne, des Deux-Sèvres, de la Charente, de la Charente-Maritime, de la Vendée, du Limousin, de la Dordogne et de l’Indre, avec une antenne à Poitiers et une autre à Angoulême. <br /><br />

          Afin de correspondre au maximum avec vos besoins, nous avons sélectionné un panel de marques et de produits répondant à nos nombreux critères d’exigence pour une gestion sereine du cabinet dentaire. Nous assurons également un suivi poussé de vos projets en nous engageant à répondre et à intervenir rapidement.
        </p>

        <!-- Liste des caractéristiques -->
        <div class="grid grid-cols-2 gap-6 mb-8">
          <div class="flex items-center gap-2">
            <svg class="w-6 h-6 text-access-blue" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
            </svg>
            <span class="font-semibold text-access-dark">Equipe expérimentée</span>
          </div>
          <div class="flex items-center gap-2">
            <svg class="w-6 h-6 text-access-blue" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
            </svg>
            <span class="font-semibold text-access-dark">Service compréhensif</span>
          </div>
          <div class="flex items-center gap-2">
            <svg class="w-6 h-6 text-access-blue" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
            </svg>
            <span class="font-semibold text-access-dark">Vision artistique</span>
          </div>
          <div class="flex items-center gap-2">
            <svg class="w-6 h-6 text-access-blue" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
            </svg>
            <span class="font-semibold text-access-dark">SAV à votre écoute</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# ////////////////////////////////SECTION NEWS /////////////////////////////////// %>

<section id="news" class="py-12 sm:py-28 px-0 2xl:px-[12rem] bg-access-light-blue bg-center bg-content bg-no-repeat relative" style="background-image: url(<%= image_path('our-blog-bg.svg')%>)">
  <div class="text-center mb-12">
    <p class="text-access-blue font-normal text-sm tracking-[0.2rem] mb-2 flex justify-center items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 12 12"
        class="w-3 h-3"
      >
        <path
          d="M12 5.98442C7.01299 6.54546 6.57662 7.01299 6.01558 12C5.45455 7.01299 4.98701 6.54546 0 5.98442C4.98701 5.42338 5.45455 4.98701 6.01558 0C6.57662 4.98701 7.01299 5.42338 12 5.98442Z"
          fill="#1E84B5"
        />
      </svg>
      NEWS
    </p>
    <h2 class="text-4xl lg:text-[54px] lg:leading-[4rem] font-bold text-access-blue mb-4">Consultez nos <span class="text-access-dark">Dernières News</span></h2>
    <p class="text-access-dark font-light mb-8">Cliquez ici pour souscrire à notre Newsletter.</p>
  </div>

  <% if current_user %>
    <div class="text-center mb-12">
      <%= link_to "Créer une news", new_article_path, class: "bg-access-blue text-white font-medium px-6 mt-3 py-3 rounded-full hover:bg-access-dark transition-colors" %>
    </div>
  <% end %>

  <div class="container mx-auto sm:flex sm:grid sm:grid-cols-2 lg:grid-cols-3 md:gap-4 lg:gap-8" data-controller=<%= "sortable" if current_user %>>
    <% @articles.each do |article| %>
      <%= render "article_card", article: article %>
    <% end %>
  </div>

  <div class="hidden 2xl:block flex justify-center items-center">
    <%= image_tag "icon-star.svg", class: "absolute bottom-[28rem] w-20 left-12 animate-[zoom_1s_linear_infinite] object-cover" %>
  </div>
</section>

<%# ////////////////////////////////SECTION OFFERS//////////////////////////////////// %>

<section id="offres" class="pt-28 pb-[6.5rem] bg-right-bottom" style="background-image: url(<%= image_path('our-service-bg.svg')%>)">
  <div class="text-center mb-12">
    <p class="text-access-blue font-normal text-sm tracking-[0.2rem] mb-2 flex justify-center items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 12 12"
        class="w-3 h-3"
      >
        <path
          d="M12 5.98442C7.01299 6.54546 6.57662 7.01299 6.01558 12C5.45455 7.01299 4.98701 6.54546 0 5.98442C4.98701 5.42338 5.45455 4.98701 6.01558 0C6.57662 4.98701 7.01299 5.42338 12 5.98442Z"
          fill="#1E84B5"
        />
      </svg>
      OFFRES
    </p>
    <h2 class="text-5xl font-bold text-access-blue mb-4">Profitez de nos <span class="text-access-dark">Dernières Offres</span></h2>
    <p class="text-access-dark font-light">Découvrez les dernières offres de nos partenaires.</p>
  </div>

  <% if current_user %>
    <div class="flex justify-center items-center">
      <%= link_to 'Créer une offre', new_offer_path(@offer), class: "inline-block px-4 py-3 text-white bg-access-blue hover:bg-access-dark font-medium rounded-full text-sm" %>
    </div>
  <% end %>

  <div class="lg:container px-[6rem] sm:[px-12rem] lg:px-0 justify-center w-full lg:mx-auto xl:pt-[6rem] xl:px-[6rem] md:flex md:gap-4" data-controller=<%= "sortable" if current_user %>>
    <% @offers.each_with_index do |offer| %>
      <div class="flex flex-col h-48 lg:h-72 relative group" data-sortable-url="<%= offer_positions_path(offer) %>" data-sortable-handle="">
        <div class="<%= offer.position.even? ? 'mb-auto' : 'mt-auto' %>">
          <%= link_to offer.pdf_url, target: "_blank" do %>
            <%= image_tag offer.image_url, class: "max-h-48 w-full rounded-[2rem] shadow-lg transform transition duration-500 hover:scale-110 object-cover" %>
          <% end %>
        </div>

        <% if current_user %>
          <!-- Boutons Edit et Destroy -->
          <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <!-- Bouton Edit -->
            <%= link_to edit_offer_path(offer), class: "bg-access-blue text-white p-2 rounded-full mx-3 hover:bg-access-dark", title: "Edit" do %>
              <i class="fas fa-edit"></i>
            <% end %>

            <!-- Bouton Destroy -->
            <%= link_to offer_path(offer), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette offre ?" }, class: "bg-red-500 text-white p-2 rounded-full mx-3 hover:bg-red-600", title: "Delete" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</section>

<%= render "brand_banner" %>
<%= render "service_section" %>
<%= render "contact_section" %>
