<div class="container mx-auto max-w-2xl">
  <div class="bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl font-semibold text-gray-800 mb-2 text-center">Éditer la marque "<%= @brand.name %>"</h1>

    <%= simple_form_for @brand do |f| %>
      <div class="space-y-6">
        <%= f.hidden_field :return_to, value: @return_to %>
        <%= f.input :name,
            label: 'Nom',
            placeholder: 'Airel Quetin',
            input_html: { class: 'rounded-lg', value: @brand.name } %>

        <%= f.input :image_url,
            label: 'Logo',
            placeholder: "URL du logo",
            input_html: { class: 'rounded-lg', value: @brand.image_url } %>

        <%= f.input :website_url,
            label: 'Site internet',
            placeholder: "https://airel.com/",
            input_html: { class: 'rounded-lg', value: @brand.website_url } %>

        <div class="grid grid-cols-2 gap-4">
          <%= f.input :primary_color,
              label: 'Couleur principale',
              placeholder: "#F3196A",
              input_html: { class: 'rounded-lg', value: @brand.primary_color } %>

          <%= f.input :secondary_color,
              label: 'Couleur secondaire',
              placeholder: "#F7679D",
              input_html: { class: 'rounded-lg', value: @brand.secondary_color } %>
        </div>

        <div class="text-center mt-8">
          <%= f.submit 'Éditer la marque',
              class: 'w-full cursor-pointer bg-access-blue hover:bg-access-dark text-white font-medium py-3 px-6 rounded-lg transition duration-200 ease-in-out transform focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
