<div class="bg-white max-w-[60rem] mx-auto rounded-2xl border-[0.2px] border-access-blue px-4 my-10 relative">
  <div class="absolute w-[12rem] sm:w-[20rem] h-64 rounded-lg top-40 left-40 sm:top-44 sm:left-56" style="background: linear-gradient(to right, <%= brand.secondary_color %>1A 0%, <%= brand.secondary_color %>00 100%);"></div>
  <div class="brand-card__header px-5 flex flex justify-between items-center">
    <%= image_tag brand.image_url, width: 100 %>
    <%= link_to brand.website_url, target: "_blank", class: "inline-flex items-center text-access-blue hover:text-access-dark transition-colors duration-300 group" do %>
      <span class="relative after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-0 after:bg-access-dark after:transition-all after:duration-300 group-hover:after:w-full">Visiter le site</span>
      <i class="fa-solid fa-external-link ml-2 transition-transform duration-300 group-hover:translate-x-1"></i>
    <% end %>
  </div>

  <hr class="border-y-[1px] border-access-blue mb-8"/>

  <div data-controller="prevent-effect" data-hs-carousel='{"loadingClasses": "opacity-0"}' class="relative">
    <div class="hs-carousel flex space-x-3">
      <% if products.count > 1 %>
      <div class="flex-none">
        <div data-action="touchend->prevent-effect#stopPropagation" class="hs-carousel-pagination pointer-events-auto max-h-96 flex flex-col gap-y-2 overflow-y-auto">
          <% products.each do |product| %>
            <div class="hs-carousel-pagination-item shrink-0 border flex items-center rounded-md overflow-hidden cursor-pointer w-[100px] h-[100px] sm:w-[150px] sm:h-[150px] hs-carousel-active:border-access-blue">
              <%= image_tag product.image_url, class: "object-cover" %>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>

      <div class="relative grow overflow-hidden min-h-96 rounded-lg">
        <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
          <% products.each do |product| %>
            <div class="hs-carousel-slide pl-3 flex <%= "gap-32" if products.count == 1 %>">
              <div data-action="touchend->prevent-effect#stopPropagation" class="left-content flex flex-col justify-between sm:justify-around pr-3">
                <h2 class="text-access-dark font-semibold text-3xl sm:text-4xl md:text-5xl tracking-[0.2rem]"><%= product&.name&.upcase %></h2>

                <p class="leading-7 font-extralight"><%= product&.description %>
                  <div class="flex justify-between items-center pt-1">
                    <%= link_to product.pdf_url, class: "font-normal", target: "_blank" do %>
                      <span class="underline underline-offset-8 text-access-blue hover:text-access-dark transition-colors">Plus d'infos<i class="fa-regular fa-file-lines ml-2" aria-hidden="true"></i></span>
                    <% end %>

                    <% if current_user %>
                      <div class="flex gap-3">
                        <%= link_to edit_product_path(product), class: "text-access-dark hover:text-access-blue transition-colors" do %>
                          <i class="fa-regular fa-pen-to-square"></i>
                        <% end %>
                        <%= link_to product_path(product),
                            data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce produit ?" },
                            class: "text-access-dark hover:text-red-500 transition-colors" do %>
                          <i class="fa-regular fa-trash-can"></i>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </p>

                <%= link_to new_contacts_path(product_id: product), class: "whitespace-nowrap relative inline-flex mb-2 sm:mb-0 items-center px-4 py-2 text-white bg-access-blue rounded-full overflow-hidden group shadow-md hover:shadow-lg w-fit" do %>
                    <span class="relative z-10 font-light hidden sm:inline">Demander un devis</span>
                    <span class="relative z-10 font-light inline sm:hidden">Devis</span>
                    <span class="relative z-10 ml-3 transition-transform transform duration-300 ease-out">
                      <span class="flex items-center justify-center w-6 h-6">
                        <i class="fa-regular fa-envelope text-white"></i>
                      </span>
                    </span>
                    <span class="absolute rounded-full inset-0 bg-access-dark transition-all duration-500 ease-out transform -translate-x-full group-hover:translate-x-0"></span>
                <% end %>
              </div>
              <%= image_tag product.image_url, width: 440, class: "hidden md:block object-contain", data: { action: "touchend->prevent-effect#stopPropagation" } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
