<div class="p-5 flex flex-col rounded-[2.5rem] border justify-between h-full bg-white" style="border-color: <%= brand.primary_color %>;">
  <%= image_tag brand.image_url, class: "w-4/5 mx-auto object-cover" %>
  <div class="flex items-center justify-center mb-3">
    <%= link_to new_brand_product_path(brand_id: brand.id, category_id: @category.id) do %>
      <i class="fa-solid fa-plus text-xl px-3" style="color: <%= brand.secondary_color %>"></i>
    <% end %>
    <%= link_to edit_brand_path(brand) do %>
      <i class="fa-regular fa-pen-to-square text-xl px-3" style="color: <%= brand.secondary_color %>"></i>
    <% end %>
    <%= link_to brand_path(brand), data: {turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr de vouloir supprimer cette marque ?' } do %>
      <i class="fa-solid fa-trash text-xl px-3" style="color: <%= brand.secondary_color %>"></i>
    <% end %>
  </div>
  <%= link_to "Visiter le site",
    brand.website_url,
    class: "text-center px-4 py-2 text-white rounded-full",
    style: "background-color: #{brand.primary_color};" %>
</div>
