<div class="bg-white rounded-2xl px-4 mb-10 relative shadow-2xl" style="border: 1px solid <%= brand.primary_color %>;">
  <div class="absolute w-[31rem] h-96 rounded-lg" style="top: 60px; left: 205px; opacity: 0.1; background-color:<%= brand.secondary_color %>;"></div>

  <div class="brand-card__header px-5 flex justify-between items-center">
    <%= image_tag brand.image_url, width: 100 %>
    <%= link_to "Visiter le site",
      brand.website_url,
      class: "block px-4 py-2 text-white rounded-full",
      style: "background-color: #{brand.primary_color};" %>

  </div>

  <hr class="border-y-[1px] mb-8" style="border-color: <%= brand.primary_color %>;" />

  <div data-hs-carousel='{"loadingClasses": "opacity-0"}' class="relative">
    <div class="hs-carousel flex space-x-3">
      <div class="flex-none">
        <div class="hs-carousel-pagination max-h-96 flex flex-col gap-y-2 overflow-y-auto">
          <style>
            .little-card-<%= brand.id %>.active {
              border-color: <%= brand.secondary_color %>;
            }
          </style>
          <% brand.products.each do |product| %>
            <div class="hs-carousel-pagination-item little-card-<%= brand.id %> shrink-0 border flex items-center rounded-md overflow-hidden cursor-pointer w-[150px] h-[150px]">
              <%= image_tag "https://airel.com/wp-content/uploads/2023/02/fauteuil_pe9.png", class: "object-cover" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="relative grow overflow-hidden min-h-96 rounded-lg">
        <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
          <% brand.products.each do |product| %>
            <div class="hs-carousel-slide pl-3 flex">
              <div class="left-content flex flex-col justify-around">
                <h1 class="text-5xl"><%= product&.name %></h1>
                <p class="leading-7 font-extralight"><%= product&.description %></p>
                <%= link_to product.pdf_url, class: "block", target: "_blank" do %>
                  <span class="underline underline-offset-8" style="color: <%= brand.primary_color %>;">Plus d'infos<i class="fa fa-external-link ml-2" aria-hidden="true"></i></span>
                <% end %>
              </div>
              <%= image_tag "https://airel.com/wp-content/uploads/2023/02/fauteuil_pe9.png", width: 480, class: "object-contain" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
