<div class="bg-white shadow-md rounded-[2.5rem] flex flex-col h-full overflow-hidden">
  <%= image_tag product.image_url, class: "object-cover w-full", alt: product.name %>
  <div class="p-4 text-white h-full" style="background-color: <%= product.brand.primary_color %>;">
    <h3 class="text-lg font-bold uppercase"><%= product.name %></h3>
    <p class="text-sm"><%= product.description %></p>
    <%= link_to "Plus d'infos", product.pdf_url,
      class: "mt-2 inline-block px-4 py-2 text-white text-sm rounded-full",
      style: "background-color: #{product.brand.secondary_color};" %>
  </div>
</div>
