<div class="bg-[#EFF8FF] bg-no-repeat bg-center" style="background-image: url('https://demo.awaikenthemes.com/html-preview/dentaire/images/hero-bg.svg');">
  <div class="container mx-auto px-[12rem] py-10">
    <div class="brand-filters bg-white rounded-2xl p-4 mb-10">
      <% Brand.pluck(:name).each do |brand_name| %>
        <%= link_to brand_name, category_products_path(brand: brand_name), class: "inline-block px-4 py-2 text-white rounded-full bg-access-blue hover:bg-[#2A4E9E] focus:ring-4 focus:ring-[#1E3A8A] font-medium rounded-lg text-sm px-5 py-2.5" %>
      <% end %>
      <%= link_to '+ Ajouter une marque', new_brand_path(category_id: @category.id), class: "inline-block px-4 py-2 text-white rounded-full bg-access-dark hover:bg-[#2A4E9E] focus:ring-4 focus:ring-[#1E3A8A] font-medium rounded-lg text-sm px-5 py-2.5" %>
    </div>

    <% Brand.all.each do |brand| %>
      <div class="brand-card bg-white rounded-2xl px-4 mb-10">
        <div class="brand-card__header px-5">
          <%= image_tag brand.image_url, width: 120 %>
        </div>

        <hr>

        <div class="brand-card__content p-5 flex">
          <div class="left-content flex flex-col justify-around">

            <div>
              <h1 class="whitespace-nowrap text-6xl inline-block" style="border-bottom: 10px solid <%= brand.primary_color %>"><%= brand.products.first&.name %></h1>
            </div>

            <p class="leading-7"><%= brand.products.first&.description %></p>
          </div>

          <div class="right-content">
            <%= image_tag "https://airel.com/wp-content/uploads/2023/02/fauteuil_pe9.png" %>
          </div>
        </div>

        <div class="brand-card__footer p-5">
          <%= link_to "Visiter le site",
            brand.website_url,
            class: "inline-block px-4 py-2 text-white rounded-full",
            style: "background-color: #{brand.primary_color};" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
