<div class="container mx-auto px-[12rem]">
  <div class="hs-accordion-group">

  <% @brands.each do |brand| %>
    <div class="hs-accordion" id="hs-basic-heading-<%= brand.id %>">
      <button class="hs-accordion-toggle text-white hs-accordion-active:text-white my-2 py-3 inline-flex items-center justify-center gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 focus:outline-none focus:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none" style="background-color: <%= brand.primary_color  %> ;" aria-expanded="false" aria-controls="hs-basic-collapse-one"><%= brand.name %></button>

      <div id="hs-basic-collapse-<%= brand.id %>" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-heading-<%= brand.id %>">
        <%= render "carousel", brand: brand %>
      </div>
    </div>
  <% end %>
  </div>
</div>
