<h1 class="text-center text-2xl mb-6"><%= @category.name %></h1>
<div class="container mx-auto px-16 max-w-7xl">
  <% @brands.each do |brand| %>
    <div class="text-white flex flex-wrap mb-8" style="background-color: <%= brand.tertiary_color %>;">
      <!-- Brand Card -->
      <div class="brand_card w-2/6 p-2 flex flex-col">
        <div class="bg-white rounded-[2.5rem] overflow-hidden flex flex-col justify-between h-[60vh] border"
             style="border-color: <%= brand.primary_color %>;">
          <img src="<%= brand.image_url %>" alt="<%= brand.name %> Logo" class="w-9/12 h-50 mx-auto block object-cover">
          <div class="flex items-center justify-center mb-3">
            <%= link_to new_brand_product_path(brand_id: brand.id, category_id: @category.id) do %>
              <i class="fa-solid fa-plus text-xl px-3" style="color: <%= brand.secondary_color %>"></i>
            <% end %>
            <%= link_to edit_brand_path(brand) do %>
              <i class="fa-regular fa-pen-to-square text-xl px-3" style="color: <%= brand.secondary_color %>"></i>
            <% end %>

            <%= link_to brand_path(brand), data: {turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr de vouloir supprimer cette marque ?' } do %>
              <i class="fa-solid fa-trash text-xl px-3" style="color: <%= brand.secondary_color %>"></i>
            <% end %>
          </div>
          <div class="p-3 h-1/6">
            <%= link_to 'Visiter le site', brand.website_url, class: 'block w-full text-center px-4 py-2 text-white rounded-full', style: "background-color: #{brand.primary_color};" %>
          </div>
        </div>
      </div>

      <!-- Product Cards -->
      <% brand.products.each do |product| %>
        <div class="product_card w-2/6 p-2">
          <div class="bg-white shadow-md rounded-[2.5rem] overflow-hidden flex flex-col h-[60vh]">
            <img src="<%= product.image_url %>" alt="<%= product.name %>" class="w-full h-4/6 object-cover">
            <div class="p-4 h-2/6 flex flex-col justify-between" style="background-color: <%= brand.primary_color %>;">
              <div>
                <h3 class="text-lg font-bold pb-2"><%= product.name.upcase %></h3>
                <p class="text-sm"><%= product.description %></p>
              </div>
              <div class="flex justify-between items-center">
                <%= link_to "Plus d'infos", product.pdf_url, class: 'w-2/5 mt-2 px-4 py-2 text-white text-center rounded-full', style: "background-color: #{brand.secondary_color};" %>
                <div>
                <%= link_to edit_brand_product_path(brand_id: product.brand.id, id: product.id) do %>
                  <i class="fa-regular fa-pen-to-square text-xl px-2" style="color: <%= brand.secondary_color %>"></i>
                <% end %>
                <%= link_to brand_product_path(brand_id: product.brand.id, id: product.id), data: {turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr de vouloir supprimer cette marque ?' } do %>
                  <i class="fa-solid fa-trash text-xl px-2" style="color: <%= brand.secondary_color %>"></i>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="text-center mt-6">
    <%= link_to 'Créer une nouvelle marque', new_brand_path(category_id: @category.id), class: 'text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5' %>
  </div>
</div>
