<div class="container mx-auto max-w-2xl">
  <div class="bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl font-semibold text-gray-800 mb-2 text-center">
      Création de produit <span class="block font-bold text-access-blue"><%= @category.name %></span>
    </h1>

    <%= simple_form_for [@category, @product] do |f| %>
      <div class="space-y-4">
        <%= f.input :name,
            label: 'Nom',
            placeholder: 'PE9',
            input_html: { class: 'rounded-lg' },
            wrapper_html: { class: 'mb-4' } %>

        <%= f.association :brand,
            label: 'Marque',
            collection: @brands,
            input_html: { class: 'rounded-lg' },
            wrapper_html: { class: 'mb-4' } %>

        <%= f.input :description,
            as: :text,
            label: 'Description',
            placeholder: "Description",
            input_html: { class: 'rounded-lg', rows: 4 },
            wrapper_html: { class: 'mb-4' } %>

        <%= f.input :image_url,
            label: 'Image',
            placeholder: "https://res.cloudinary.com/...",
            input_html: { class: 'rounded-lg' },
            wrapper_html: { class: 'mb-4' } %>

        <%= f.input :pdf_url,
            label: 'Fiche technique',
            placeholder: "https://res.cloudinary.com/...",
            input_html: { class: 'rounded-lg' },
            wrapper_html: { class: 'mb-4' } %>

        <div class="text-center">
          <%= f.submit 'Créer le produit',
              class: 'w-full bg-access-blue hover:bg-access-dark text-white font-medium py-3 px-6 rounded-lg transition duration-200 ease-in-out transform focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
